$width-s: 320px;
$width-sm: 414px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

// 響應式(RWD) 斷點: mobile:414px \ pad:768px \ pc:1280px
@mixin breakpoint($point) {
    @if $point == pc {
        @media only screen and ($width-xl) {
            @content;
        }
    } @else if $point == pad {
        @media only screen and ($width-md) {
            @content;
        }
    } @else if $point == mobile {
        @media only screen and ($width-sm) {
            @content;
        }
    }
}
