@import "../../styles/global/color";
@import "../../styles/global/typeFont.scss";

.shareWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ownerBox {
	width: 100%;
	display: flex;
	align-items: center;

	.ownerDetail {
		margin-left: 10px;
		li {
			color: $gray07;
			&.ownerName {
				font-size: map-get($desktopFont, $h4-size);
				color: $gray03;
			}
		}
	}
}
.sharedController {
	display: flex;
	align-items: center;
	> li {
		margin-right: 15px;
		padding-right: 15px;
		border-right: 1px solid $gray03;
		color: $gray03;
		> span {
			color: $gray03;
			margin-right: 10px;
			font-size: map-get($desktopFont, $h5-size);
			&:last-child {
				margin-right: 0;
			}
		}
		&:last-child {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
		}
	}
}
