@import "../../styles/global/color";
@import "../../styles/global/variable";
@import "../../styles/global/typeFont.scss";

.aboutClassWrapper {
	width: 100%;
	background-color: $blue10;
	border-radius: 5px;
	box-shadow: $box-shadow-medium;
	margin: 15px 0;
	.wrapperInner {
		padding: 15px 20px;
		> div {
			color: $gray03;
			&.title {
				font-size: map-get($desktopFont, $h4-size);
				font-weight: $font-weight-bold;
				margin-bottom: 10px;
			}
			&.content {
				font-size: map-get($desktopFont, $h5-size);
			}
		}
	}
}
.tagWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	.title {
		font-size: map-get($desktopFont, $h4-size);
		color: $gray03;
		font-weight: $font-weight-bold;
	}
	> ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 10px;
		margin-left: 30px;
	}
}
