// -------- Green --------
$green01: #dbe9db;
$green02: #a9c0b1;
$green03: #26d07c;

// -------- Grays --------
$gray01: #fafbfc;
$gray02: #f6f8fa;
$gray03: #e1e4e8;
$gray04: #d1d5da;
$gray05: #959da5;
$gray06: #6a737d;
$gray07: #212121;

// -------- Blue --------
$blue01: #f1f8ff;
$blue02: #dbedff;
$blue03: #c8e1ff;
$blue04: #79b8ff;
$blue05: #2188ff;
$blue06: #0366d6;
