// -------- Green --------
$green03: #26d07c;
$green04: #1fff8f;

// -------- Grays --------
$gray01: #fafbfc;
$gray02: #f6f8fa;
$gray03: #fafafa;
$gray04: #e1e4e8;
$gray05: #d1d5da;
$gray06: #959da5;
$gray07: #6a737d;
$gray08: #212121;

// -------- Blue --------
$blue01: #f1f8ff;
$blue02: #dbedff;
$blue03: #c8e1ff;
$blue04: #79b8ff;
$blue05: #2188ff;
$blue06: #0366d6;
$blue10: #272c34;

// -------- secondary color --------
$yellow: #ffcc5a;
$purple: #a991d0;
