@import '../../styles/global/color';
@import '../../styles/global/fontSize';

.classBoxWrapper {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(209, 213, 218, 0.5);
  padding-bottom: 15px;
  margin-bottom: 20px;
  .classBoxWrapperInner {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    .wrapperTitle {
      > ul {
        li {
          font-size: map-get($desktopFont, $h2-size);
          font-weight: $font-weight-bold;
          color: $gray07;
          line-height: 1.6em;
        }
      }
    }
  }
}
