@import "../../styles/global/typeFont.scss";
@import "../../styles/global/color";

.header {
	width: 100wh;
	background-color: $gray03;
	border-bottom: 3px solid $gray05;
	.header-inner {
		width: 100%;
		display: grid;
		align-items: center;
		grid-template-columns: 15% auto 10%;
		column-gap: 30px;
		padding: 10px 24px;
		> a {
			display: flex;
			align-items: center;
			svg {
				width: 48px;
				height: 48px;
			}
			.logo-text {
				font-size: map-get($desktopFont, $h3-size);
				font-weight: $font-weight-bold;
				margin-left: 10px;
				color: $gray08;
			}
		}
		nav {
			> ul {
				display: flex;
				align-items: center;
				> li {
					margin-right: 35px;
					&:last-child {
						margin-right: 0;
					}
					> a {
						font-size: map-get($desktopFont, $h3-size);
						font-weight: $font-weight-bold;
						color: $gray07;
						&:hover {
							color: $blue05;
						}
					}
				}
			}
		}
		.person-box {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			> div {
				margin-left: 10px;
			}
		}
	}
}
