@import '../../styles/global/color';
@import '../../styles/global/fontSize';
@import '../../styles/global/_variable.scss';

.commentLayout {
  width: 100%;
  height: 100%;
  background-color: $gray03;
  box-shadow: $box-shadow;
  .commentLayoutInner {
    padding: 10px 0;
    .WrapperTopBox {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 15px;
      background-color: $gray03;
      .wrapperTitleBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          font-size: map-get($desktopFont, $h4-size);
          color: $blue05;
          span {
            margin-right: 10px;
            i {
              color: $blue05;
            }
          }
        }
      }
      .searchBox {
        position: relative;
        input {
          position: absolute;
          right: 50px;
          top: 0px;
          padding: 10px;
          border-radius: 5px;
          border: none;
          box-shadow: $box-shadow;
        }
        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 15px;
          background-color: $gray04;
        }
      }

      .addNew {
        width: 100%;
        .addNewBox {
          margin-bottom: 15px;
          > span {
            display: flex;
            align-items: center;
            color: $gray07;
            &.text {
              font-size: map-get($desktopFont, $h5-size);
              cursor: pointer;
            }
          }
          i {
            margin-right: 5px;
            color: $blue05;
          }
        }
      }
      .commentList {
        .totalComment {
          font-size: map-get($desktopFont, $h6-size);
          color: $gray07;
          border-bottom: 1px solid $gray07;
          padding-bottom: 10px;
        }
      }
    }
    .commentContainer {
      width: 100%;
      height: 100%;
      max-height: 442.63px;
      overflow-y: scroll;
      padding: 0 15px;
      z-index: -1;
    }
  }
}
