@import '../../../styles/global/color';
@import '../../../styles/global/typeFont.scss';
@import '../../../styles/global/_variable.scss';

.feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
    .feedbackEvent {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin-bottom: 15px;
        .feedbackText {
            color: $blue06;
            font-size: map-get($desktopFont, $h6-size);
            cursor: pointer;
        }
    }
}
